<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>DemoPdf</title>

    <style>
        table {

            width: 90%;
            table-layout: fixed;
            position: relative;
            overflow: hidden;

        }



        body {
            Margin: 0 !important;
            padding: 10px;
            background-color: #FFF;
            font-family: Arial;

        }




        td {

            border-color: rgb(27, 26, 26);
            text-align: center;
            vertical-align: middle;
            overflow: auto;

            padding: 2px;
        }

        caption {
            text-align: center;
            margin-bottom: 5px;
            font-size: 160%;
            padding: 10px;
            letter-spacing: normal;
            font-weight: bold;
        }
    </style>
</head>

<body>

    <div>


        <br><br><br><br><br><br>
        <h1 style="text-align:center">Department of Computer Science and Engineering</h1>

        <h1 style="color:rgb(144, 144, 151);text-align:center;">


            Faculty of Modern Science
        </h1><br>


        <center>
            <img src="https://upload.wikimedia.org/wikipedia/en/0/02/Leading_University_Logo.png" alt=" Logo" />
        </center><br><br>



        <p style="text-align:center;font-size: 30px;">
            Program :&nbsp M.Sc in Computer Science and Engineering
            </>
        <p style="text-align:center;font-size: 30px;">
            Name:&nbspM.Sc in CSE(Curriculum 2022)</p>
        <p style="text-align:center;font-size: 30px;">ID:&nbsp06121032</p>
        <p style="text-align:center;font-size: 30px;"> Minimum Credits to gain Degree:&nbsp20</p>
        <p style="text-align:center;font-size: 30px;">Total Courses:&nbsp7</p>
        <p style="text-align:center;font-size: 30px;">Distributed Courses:&nbsp7</p>
        <p style="text-align:center;font-size: 30px;">Total Credits:&nbsp20</p>
        <p style="text-align:center;font-size: 30px;">Distributed Credit:&nbsp20</p>





    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <center>
        <table border="1" align="center" cellspacing="0">

            <caption>
                List Of Courses
            </caption>



            <tr>

                <th>SI.No</td>
                <th>Course Code</td>
                <th>Course Title </td>
                <th>Credits of course</td>
            </tr>

            <tr>
                <td>1.</td>
                <td> BUS-1111 </td>
                <td>Introduction to Business</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>2.</td>
                <td> BUS-1122 </td>
                <td>Principles of Management</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>3.</td>
                <td> BUS-1133 </td>
                <td>Principles of Accounting</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>4.</td>
                <td> BUS-1251 </td>
                <td>Principles of Marketing</td>
                <td> 03 </td>
            </tr>
            <tr>
                <td>5.</td>
                <td> BUS-1212 </td>
                <td>Business Communication</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>6.</td>
                <td>BUS-2141</td>
                <td>Principles of Finance</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>7.</td>
                <td>BUS-1273</td>
                <td> Business Mathematics</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>8.</td>
                <td>BUS-2215</td>
                <td> Business Law</td>
                <td> 03 </td>
            </tr>
            <tr>
                <td>9.</td>
                <td>BUS-2162</td>
                <td> Fundamentals of MIS</td>
                <td> 03 </td>
            </tr>
            <tr>
                <td>10.</td>
                <td>BUS-2133</td>
                <td> Intermediate Accounting</td>
                <td> 03 </td>
            </tr>
            <tr>
                <td>11.</td>
                <td>BUS-2211</td>
                <td> Entrepreneurship Development</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>12.</td>
                <td>BUS-2222</td>
                <td> Organizational Behavior</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>13.</td>
                <td>BUS-2273</td>
                <td> Mathematics for Business Decisions</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>14.</td>
                <td>BUS-3126</td>
                <td> Human Resource Management</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>15.</td>
                <td>BUS-3131</td>
                <td>Cost and Management Accounting</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>16.</td>
                <td>BUS-3172</td>
                <td>Business Statistics</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>17.</td>
                <td> BUS-2114</td>
                <td>International Business</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>18.</td>
                <td> BUS-3163</td>
                <td>Digital Business and E-commerce</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>19.</td>
                <td>BUS-3144</td>
                <td> Bank Management</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>20.</td>
                <td>BUS-4172</td>
                <td>Operations Management</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>21.</td>
                <td> BUS-3155</td>
                <td> Marketing Management</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>22.</td>
                <td>BUS-2234</td>
                <td> Auditing and Taxation</td>
                <td> 03 </td>
            </tr>
            <tr>
                <td>23.</td>
                <td>BUS-3241</td>
                <td>Financial Management</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>24.</td>
                <td>BUS-3242</td>
                <td> Insurance and Risk Management</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>25.</td>
                <td>BUS-3273</td>
                <td>Supply Chain Management</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>26.</td>
                <td>BUS-4171</td>
                <td> Project Management</td>
                <td> 03 </td>
            </tr>

            <tr>
                <td>27.</td>
                <td>BUS-4123</td>
                <td>Strategic Management</td>
                <td> 03 </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:center;"><b>Total</b></td>
                <td>81</td>
            </tr>

        </table>
    </center>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

    <div>
        <center>

            <table border="1" align="center" cellspacing="0" style="page-break-after: always;">

                <caption>Semester Wise Courses</caption>
                </br></br></br></br>


                <tr>

                    <th>Year</th>
                    <th>Semester</th>
                    <th>Course Code</th>
                    <th>Course Title</th>
                    <th>credit</th>
                </tr>



                <tr>


                    <td rowspan="16"><b>1<sup>st</sup></br>Year<b></td>
                    <td rowspan="7"><b>1<sup>st</sup></br></b></td>
                    <td>GED-1131</td>
                    <td> Basic English</td>
                    <td>02</td>

                </tr>


                <tr>
                    <td>BUS-1111</td>
                    <td>Introduction to Business</td>
                    <td>03</td>
                </tr>

                <tr>


                    <td>BUS-1122 </td>
                    <td>Principles of Management</td>
                    <td>03</td>
                </tr>

                <tr>


                    <td>GED-1122</td>
                    <td>Basic Computer Applications</td>
                    <td>02</td>
                </tr>

                <tr>


                    <td>BUS-1133</td>
                    <td>Principles of Accounting</td>
                    <td>03</td>
                </tr>

                <tr>


                    <td>GED-1101 </td>
                    <td>Bangla Language and Literature</td>
                    <td>03</td>
                </tr>

                <tr>


                    <td>GED-1117</td>
                    <td>History of the Emergence of Bangladesh</td>
                    <td>03</td>
                </tr>

                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td>17</td>
                </tr>


                <tr>


                    <td rowspan="8"><b>2<sup>nd</sup></b></td>
                    <td>BUS-1251</td>
                    <td>Principles of Marketing </td>
                    <td>03</td>
                </tr>

                <tr>



                    <td>BUS-1212</td>
                    <td>Business Communication</td>
                    <td>03</td>
                </tr>

                <tr>



                    <td>GED 1231</td>
                    <td>Functional English</td>
                    <td>03</td>
                </tr>

                <tr>



                    <td>GED-2181</td>
                    <td> Introduction to Economics</td>
                    <td>03</td>
                </tr>

                <tr>



                    <td>GED-1291</td>
                    <td>Introduction to Sociology</td>
                    <td>03</td>
                </tr>

                <tr>



                    <td>BUS-1273</td>
                    <td>Business Mathematics</td>
                    <td>03</td>
                </tr>

                <tr>



                    <td>GED-1216</td>
                    <td> Fundamentals of Psychology</td>
                    <td>03</td>
                </tr>

                <tr>



                    <td></td>
                    <td></td>
                    <td>17</td>

                </tr>

                <tr>

                    <td rowspan="16"><b>2<sup>nd</sup></br>Year</b></td>
                    <td rowspan="7"><b><br>3<sup>rd</sup></br></b></td>
                    <td>GED-1261</td>
                    <td>Sustainable Development</td>
                    <td>02</td>
                </tr>


                <tr>
                    <td>BUS-2141</td>
                    <td> Principles of Finance</td>
                    <td>03</td>
                </tr>

                <tr>


                    <td>BUS-2162</td>
                    <td>Fundamentals of MIS</td>
                    <td>03</td>
                </tr>

                <tr>


                    <td>GED-1145</td>
                    <td> Bangladesh Studies</td>
                    <td>02</td>
                </tr>

                <tr>


                    <td>BUS-2133</td>
                    <td> Intermediate Accounting</td>
                    <td>03</td>
                </tr>

                <tr>


                    <td>BUS-2114 </td>
                    <td>International Business</td>
                    <td>03</td>
                </tr>

                <tr>


                    <td>GED-2115</td>
                    <td> Macro Economics</td>
                    <td>03</td>
                </tr>

                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td>18</td>
                </tr>


                <tr>

                    <td rowspan="8"><b>4<sup>th</sup></b> </td>


                    <td>BUS-2211 </td>
                    <td>Entrepreneurship Development</td>
                    <td>03</td>
                </tr>

                <tr>



                    <td>GED-3211</td>
                    <td> Smart Village Studies</td>
                    <td>03</td>
                </tr>

                <tr>



                    <td>BUS-2222</td>
                    <td>Organizational Behavior</td>
                    <td>03</td>
                </tr>

                <tr>



                    <td>BUS-2273 </td>
                    <td>Mathematics for Business Decisions </td>
                    <td>03</td>
                </tr>

                <tr>



                    <td>BUS-2234 </td>
                    <td>Auditing and Taxation</td>
                    <td>03</td>
                </tr>

                <tr>



                    <td>BUS-2215 </td>
                    <td>Business Law</td>
                    <td>03</td>
                </tr>

                <tr>



                    <td>GED-2193 </td>
                    <td>Tourism and Hospitality Management</td>
                    <td>03</td>
                </tr>

                <tr>



                    <td></td>
                    <td></td>
                    <td>20</td>

                </tr>


                <tr>
                    <td rowspan="6"><b>3<sup>rd</sup></br>Year<b></td>
                    <td rowspan="6"><b>5<sup>th</sup></b> </td>
                    <td>BUS-3131</td>
                    <td>Cost and Management Accounting </td>
                    <td>02</td>
                </tr>



                <tr>
                    <td>GED-3114</td>
                    <td>Development Studies</td>
                    <td>03</td>
                </tr>
                </br></br></br></br></br></br>
                <tr>
                    <td>BUS-3163 </td>
                    <td>Digital Business and E-commerce</td>
                    <td>03</td>
                </tr>
                <tr>
                    <td>BUS-3144</td>
                    <td> Bank Management</td>
                    <td>03</td>
                </tr>

                <tr>
                    <td>GED-4251</td>
                    <td>Professional Practices and Ethics</td>
                    <td>03</td>
                </tr>






            </table>
    </div>
    </center>
    </br></br></br></br></br></br>

    <table border="1" align="center" cellspacing="0">
        <tr>
            <center>

                <td rowspan="6"></td>
                <td rowspan="6"><b>6th</b></td>
                <td>GED-1131</td>
                <td> Basic English</td>
                <td>02</td>

        </tr>
        <tr>
            <td>GED-1131</td>
            <td> Basic English</td>
            <td>02</td>

        </tr>

        <tr>
            <td>GED-1131</td>
            <td> Basic English</td>
            <td>02</td>

        </tr>
        <tr>
            <td>GED-1131</td>
            <td> Basic English</td>
            <td>02</td>

        </tr>
        <tr>
            <td>GED-1131</td>
            <td> Basic English</td>
            <td>02</td>

        </tr>

        <tr>
            <td colspan="2"></td>
            <td>28</td>
        </tr>


        <tr>


            <td rowspan="11"><b>4<sup>th</sup></br>Year</b></td>
            <td rowspan="5"><b>7th</b></td>
            <td>GED-1131</td>
            <td> Basic English</td>
            <td>02</td>

        </tr>
        <tr>
            <td>GED-1131</td>
            <td> Basic English</td>
            <td>02</td>

        </tr>

        <tr>
            <td>GED-1131</td>
            <td> Basic English</td>
            <td>02</td>

        </tr>
        <tr>
            <td>GED-1131</td>
            <td> Basic English</td>
            <td>02</td>

        </tr>
        <tr>
            <td>GED-1131</td>
            <td> Basic English</td>
            <td>02</td>

        </tr>

        <tr>
            <td colspan="3"></td>
            <td>20</td>
        </tr>





        <td rowspan="5"><b>8th</b></td>
        <td>GED-1131</td>
        <td> Basic English</td>
        <td>02</td>

        </tr>
        <tr>
            <td>GED-1131</td>
            <td> Basic English</td>
            <td>02</td>

        </tr>

        <tr>
            <td>GED-1131</td>
            <td> Basic English</td>
            <td>02</td>

        </tr>
        <tr>
            <td>GED-1131</td>
            <td> Basic English</td>
            <td>02</td>

        </tr>
        <tr>
            <td>GED-1131</td>
            <td> Basic English</td>
            <td>02</td>

        </tr>

        <tr>
            <td colspan="4"><b>Total</b></td>
            <td>144</td>
        </tr>


        </center>
    </table>
</body>

</html>